.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__item {
    margin-top: 5px;
}

.form__btn {
    margin-top: 10px;
    border: 2px solid forestgreen;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: forestgreen;
    color: #fff;
    font-weight: 700;
    transition: 0.2s;
}

.form__btn:hover {
    background-color: #fff;
    color: forestgreen;
}

.form__error {
    padding: 5px;
    border: 1px solid red;
    color: red
}

